<section class="my-24 text-center bg-transparent px-10">
    <h2 class="mb-16 text-3xl text-slate-600 uppercase font-black leading-8">
      🤔 Por qué <br/> <u class="text-lime-400"> CodeCrafters ?</u>
    </h2>
    <div class="grid gap-x-6 md:grid-cols-3 lg:gap-x-12">
      <div class="mb-12 md:mb-0 hover:scale-[1.1] hover:cursor-pointer transition-all ease-in-out duration-500 shadow-xl rounded-xl">
        <div class="mb-6 inline-block rounded-md bg-lime-400 p-4  border-solid border-slate-500 border-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
            <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
          </svg>
        </div>
        <h5 class="text-lg font-bold">Siempre Actualizado</h5>
        <p class="text-gray-400 pt-3 pb-6 px-5">
          Nuestros cursos son siempre actuales. Mantenemos un pulso constante en las últimas tendencias y tecnologías web para que nuestros estudiantes estén un paso adelante en el mundo digital.
        </p>
      </div>

      <div class="mb-12 md:mb-0 rounded-xl  hover:scale-[1.1] hover:cursor-pointer transition-all ease-in-out duration-500 shadow-xl rounded-xl">
        <div class="mb-6 inline-block rounded-md bg-lime-400 p-4 text-primary border-solid border-slate-500 border-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-asterix" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2"></path>
            <path d="M12 11.875l3 -1.687"></path>
            <path d="M12 11.875v3.375"></path>
            <path d="M12 11.875l-3 -1.687"></path>
            <path d="M12 11.875l3 1.688"></path>
            <path d="M12 8.5v3.375"></path>
            <path d="M12 11.875l-3 1.688"></path>
            <path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2"></path>
          </svg>
        </div>
        <h5 class="mb-4 text-lg font-bold text-gray-500">Ejercicios Prácticos</h5>
        <p class="text-gray-400 pt-3 pb-6 px-5">
          Aprende haciendo. Nuestros cursos ofrecen ejercicios prácticos en un entorno real con un sandbox. Prueba tus habilidades y conocimientos de inmediato, consolidando tu aprendizaje.
        </p>
      </div>

      <div class="mb-12 md:mb-0  hover:scale-[1.1] hover:cursor-pointer transition-all ease-in-out duration-500 shadow-xl rounded-xl">
        <div class="mb-6 inline-block rounded-md bg-lime-400 p-4 text-primary border-solid border-slate-500 border-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-bolt" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4c.267 0 .529 .026 .781 .076"></path>
            <path d="M19 16l-2 3h4l-2 3"></path>
          </svg>
        </div>
        <h5 class="mb-4 text-lg font-bold">Soporte Personalizado</h5>
        <p class="text-gray-400 pt-3 pb-6 px-5">
          Te respaldamos en tu viaje. Nuestro equipo de apoyo está listo para responder a tus preguntas y brindarte orientación en cada paso del camino. Tu éxito es nuestro objetivo
        </p>
      </div>
    </div>
  </section>