---
import Logo from './Logo.astro';
---
<footer class="w-full flex-col flex items-center justify-center bg-gray-900 py-20">
    <div class="flex-col flex items-center justify-center gap-2">
      <Logo w="40" wxl="40" wmd="32" alt="CodeCrafters By Marcelo A. & Cesar G." />
      <p class="text-gray-200 w-96 text-center text-sm">CodeCrafters by Marcelo A. & Cesar G. <br/>Universidad Uniacc 2023</p>
    </div>
</footer>